@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --primary-color: #396e94;
  --secondary-color: #e7c24f;
  --accent1-color: #a43312;
  --accent2-color: #381d2a;
  --heading-font: Roboto, sans-serif;
  --paragraph-font: Poppins, Helvetica, sans-serif;
  --nav-background-color: #396e94;
  --nav-link-color: #ffffff;
  --nav-hover-link-color: #e7c24f;
  --nav-hover-background-color: #381d2a;
}

body {
  font-family: var(--paragraph-font);
  max-width: 960px;
  margin: 0 auto;
  padding: 20px;
}

header {
  padding: 20px;
  background-color: var(--primary-color);
  color: #fff;
}

header h1 {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font);
}

nav {
  background-color: var(--nav-background-color);
  padding: 10px;
  border-radius: 5px;
}

nav a {
  color: var(--nav-link-color);
  text-decoration: none;
  margin-right: 10px;
  padding: 8px 15px;
  border-radius: 3px;
}

nav a:link,
nav a:visited {
  color: var(--nav-link-color);
}

nav a:hover {
  color: var(--nav-hover-link-color);
  background-color: var(--nav-hover-background-color);
}

footer {
  text-align: center;
  padding: 20px;
}
